* {
    font-family: "Lato", sans-serif;
}

body {
    width: 1020px;
    height: 3529px;
    margin: 0 auto;
}

header {
    width: 1020px;
    position: fixed;
    border-bottom: 6px solid #323746;
    background-color: #2D303A;
    z-index: 50;
}

#header_block {
    width: 939px;
    height: 89px;
    display: flex;
    flex-flow: row wrap;
    padding-left: 40px;

}

p {
    margin: 0;
    word-wrap: break-word;
}



.header_links{
    text-decoration-line: none;
    color: white;
}

#Header_text a:hover {
    color: #f06c64;
}

.MidDot {
    color: #494e62;
}


#RedStar {
    color: #f06c64;

}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

#Header_h1 {
    display: flex;
    color: white;
    text-align: left;
    align-items: center;
    width: 569px;


}

#Header_text {
    padding-top: 10px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    letter-spacing: -0.5px;

}


#Slider {
    padding-top: 95px;
    overflow: hidden;
    height: 600px;
    position: relative;
}


.Slide_0 {
    position: absolute;
    height: 594px;
    width: 1020px;
    border-bottom: 6px solid #EA676B;
    background-color: #F06C64;


}

.Slide_1 {
    position: absolute;
    height: 594px;
    width: 1020px;
    border-bottom: 6px solid #5cb1ea;
    overflow: hidden;
}


.move_Right {
    z-index: 100;
    transition: all 0.5s;
    transform: translate(1020px, 0);
}

.move_Left {
    z-index: 100;
    transition: all 0.5s;
    transform: translate(-1020px, 0);
}


#PhoneDiv {

}

#PhoneV {
    position: relative;
    left: 112px;
    top: 53px;
}

#PhoneG {
    position: relative;
    top: 174px;
    right: 111px;
    float: right;
}

#ArrowDiv {
    z-index: 201;
    position: relative;
    top: 319px;
    opacity: 0.15;
}

#ArrowL {
    float: left;
    position: relative;
    left: 42px;
}

#ArrowL:hover {
    opacity: 0.5;
}

#ArrowR {
    float: right;
    position: relative;
    right: 40px;
}

#ArrowR:hover {
    opacity: 0.5;
}

#Services {
    background-color: #F2F2F2;
    height: 494px;
    padding-left: 41px;
    padding-right: 19px;
    border-bottom: 6px solid #ffffff;
    color: #666d89;
}

#ServicesSection1 {
    padding-top: 20px;
    height: 200px;
}

#ServicesSection2 {
    height: 246px;
    display: flex;
    flex-flow: column wrap;

}

.ServicesP {
    display: flex;
    flex-flow: row wrap;
    flex: 1 100px;
    width: 320px
}

.ServicesImg {
    height: 59px;
    width: 59px;
}

.ServicesTxt {
    width: 220px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    padding: 0;
    margin: 0;
}


.PBig {
    font-size: 18.5px;
    font-weight: bold;
    padding-bottom: 12px;
    line-height: 14px;
}

.PSmall {
    font-size: 12px;
    text-align: justify;
    line-height: 21px;
}

#OurServices {
    font-size: 30px;
    line-height: 30px;
    padding-top: 42px;
    padding-bottom: 21px;
    font-weight: bold;
    text-align: justify;
}

#OurServicesSmall {
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    text-align: justify;
    height: 60px;
    overflow: hidden;
    padding-right: 20px;
}


#Portfolio {
    height: 863px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    padding-right: 40px;
}

#AboutUs {
    height: 728px;
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-right: 40px;
}

#PortfolioHeader {
    padding-left: 40px;
    color: #666d89;
    padding-top: 59px;
    font-size: 30px;
    font-weight: bold;
}

#PortfolioText {
    padding-left: 40px;
    color: #666d89;
    font-size: 18px;
    padding-top: 22px;
    letter-spacing: -0.22px;

}

#PortfolioButtons {
    padding-left: 41px;
    display: flex;
    padding-top: 15px;
    flex-flow: row wrap;
}


.PortfolioImg {
    padding-left: 30px;
    width: 960px;
    height: 601px;
    display: flex;
    padding-top: 9px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}


#PortfolioImg img:nth-child(n+13) {
    visibility: hidden
}


#AboutUsHeader {
    padding-top: 59px;
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    text-align: justify;
}

#AboutUsText {
    padding-top: 18px;
    color: #666d89;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
    font-weight: 300;
}

#AboutUsPics {
    padding-top: 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #666d89;
}

.AboutUsPicsBlock {
    width: 300px;
}

.AboutUsPicsBlock-PaddingFix {
    padding-right: 1px;
}

.AboutUsPicsBlockImg {
    width: 300px;
    height: 300px
}

.AboutUsPicsBlockName {
    font-size: 18px;
    font-weight: 900;
    padding-top: 12px;
    white-space: nowrap;
}

.AboutUsPicsBlockName p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.AboutUsPicsBlockText {
    font-size: 12px;
    padding-top: 8px;
    line-height: 21px;
    text-align: justify;
}

.AboutUsPicsBlockSocial {
    display: flex;
}

.AboutUsPicsBlockSocialPic {
}

.AboutUsPicsBlockSocialPic:hover {
    opacity: 50%;
}

#GetAQuote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 0 40px;
}

#GetAQuoteText {
    padding-top: 67px;
    color: #f0d8d9;
}

#GetAQuoteTextBig {
    font-weight: bold;
    font-size: 30px;
    line-height: 18px;
}

#GetAQuoteTextSmall {
    font-weight: lighter;
    padding-top: 28px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* form-background color= #d6564f  */

#GetAQuoteFlex {
    padding-top: 44px;
    display: flex;
    flex-flow: row;
}

#GAQForm {
    height: 364px;
    width: 619px;
}

.InputName {
    width: 589px;
    height: 15px;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    padding: 11.5px 15px;
    margin-bottom: 16px;
    outline: none;
}

#InputDescription {
    width: 589px;
    height: 179px;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    padding: 11.5px 15px;

}

#GAQText {
    padding-left: 21px;
    height: 364px;
}

#GAQTextBig {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: bold;
}

#GAQTextSmall {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    padding-top: 10px;
    word-wrap: break-word;
    margin-bottom: 18px;
}

#GAQTextUrl {

}

#GAQTextUrlLoc {
    color: #f0d8d9;
    display: block;
    text-decoration-line: none;

}

#GAQTextUrlTel {
    color: #f0d8d9;
    display: block;
    text-decoration-line: none;
}

#GAQTextUrlEmail {
    color: #f0d8d9;
    display: block;
    text-decoration-line: none;
}

.LinkText {
    color: #f0d8d9;
    display: inline;
    font-size: 12px;
    line-height: 22px;
    padding-left: 10px;
}

.InputName::placeholder {
    color: #f48c8f;
    font-size: 12px;
}

#InputDescription::placeholder {
    color: #f48c8f;
    font-size: 12px;
}


#GAQTextUrlLoc p:hover {
    color: greenyellow;
}

#GAQTextUrlTel p:hover {
    color: greenyellow;
}

#GAQTextUrlEmail p:hover {
    color: greenyellow;
}

.linkimg {
    padding: 0 3px
}

#footerCopyright {
    font-size: 12px;
    color: #666d89;
    padding-top: 30px;
    padding-left: 2px;
}

#footerLink {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.MediaImg:hover {
    opacity: 0.5;
}

footer {
    background-color: #2d303a;
    height: 76px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.mediaLink {
    margin-top: 24px;
    margin-left: 1px;
    width: 152px;
    display: flex;
    justify-content: space-between;
}

#mediaLinkFix {
    margin-left: 0;
}

.MediaImg:hover {
    opacity: 0.5;
}

.hidden {
    display: none;
}

.portfolio_img {
    padding: 10px
}

.active_img {
    padding: 0;
    border: #F06C64 solid 5px;
    margin: 5px;
}

.button_for_shuffle.button_for_shuffle_active {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.button_for_shuffle {
    text-decoration-line: none;
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 6px 6px;
    color: #666d89;
    background-color: #2d303a;
    margin-right: 10px;
    line-height: 8px;
}


#PortfolioButtons button:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
}