* {
    font-family: "Lato", sans-serif;
}

body {
    width: 1020px;
    height: 2799px;
    margin: 0 auto;
}

header {
    height: 89px;
    border-bottom: 6px solid #323746;
    background-color: #2D303A;
    display: flex;
    flex-flow: row wrap;
    padding-left: 40px;
}

p {
    margin: 0;
    word-wrap: break-word;
}

#Header_text a {
    text-decoration-line: none;
    color: white;
}

#Header_text a:hover {
    color: #f06c64;
}

.MidDot {
    color: #494e62;
}


#RedStar {
    color: #f06c64;

}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

#Header_h1 {
    display: flex;
    color: white;
    text-align: left;
    align-items: center;
    width: 569px;


}

#Header_text {
    padding-top: 10px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    letter-spacing: -0.5px;

}

#Slider {
    height: 594px;
    border-bottom: 6px solid #EA676B;
    background-color: #F06C64;
}

#PhoneDiv {
    z-index: 1;
}

#PhoneV {
    position: relative;
    left: 112px;
    top: 53px;
}

#PhoneG {
    position: relative;
    top: 174px;
    right: 111px;
    float: right;
}

#ArrowDiv {
    z-index: 2;
    position: relative;
    bottom: 206px;
    opacity: 0.15;
}

#ArrowL {
    float: left;
    position: relative;
    left: 42px;
}

#ArrowR {
    float: right;
    position: relative;
    right: 40px;
}

#Services {
    background-color: #F2F2F2;
    height: 490px;
    padding-left: 41px;
    padding-right: 19px;
    border-bottom: 6px solid #ffffff;
    color: #666d89;
}

#ServicesSection1 {
    padding-top: 20px;
    height: 200px;
}

#ServicesSection2 {
    height: 246px;
    display: flex;
    flex-flow: column wrap;

}

.ServicesP {
    display: flex;
    flex-flow: row wrap;
    flex: 1 100px;
    width: 320px
}

.ServicesImg {
    height: 59px;
    width: 59px;
}

.ServicesTxt {
    width: 220px;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    padding: 0;
    margin: 0;
}


.PBig {
    font-size: 18.5px;
    font-weight: bold;
    padding-bottom: 12px;
    line-height: 14px;
}

.PSmall {
    font-size: 12px;
    text-align: justify;
    line-height: 21px;
}

#OurServices {
    font-size: 30px;
    line-height: 30px;
    padding-top: 42px;
    padding-bottom: 21px;
    font-weight: bold;
    text-align: justify;
}

#OurServicesSmall {
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    text-align: justify;
    height: 60px;
    overflow: hidden;
}


#Portfolio {
    height: 864px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    padding-right: 40px;
}

#AboutUs {
    height: 728px;
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-right: 40px;
}

#PortfolioHeader {
    padding-left: 40px;
    color: #666d89;
    padding-top: 60px;
    font-size: 30px;
    font-weight: bold;
}

#PortfolioText {
    padding-left: 40px;
    color: #666d89;
    font-size: 18px;
    padding-top: 22px;
    letter-spacing: -0.22px;

}

#PortfolioButtons {
    padding-left: 41px;
    display: flex;
    padding-top: 15px;
    flex-flow: row wrap;
}

#PortfolioButtons button {
    text-decoration-line: none;
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 6px 6px;
    color: #666d89;
    background-color: #2d303a;
    margin-right: 10px;
    line-height: 8px;
}

#PortfolioButtons button:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

#PortfolioImg {
    padding-left: 30px;
    width: 960px;
    height: 601px;
    display: flex;
    padding-top: 9px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#PortfolioImg img {
    padding: 10px
}

#PortfolioImg img:nth-child(n+13) {
    visibility: hidden
}


#AboutUsHeader {
    padding-top: 59px;
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    text-align: justify;
}

#AboutUsText {
    padding-top: 18px;
    color: #666d89;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
    font-weight: 300;
}

#AboutUsPics {
    padding-top: 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #666d89;
}

.AboutUsPicsBlock {
    width: 300px;
}

.AboutUsPicsBlock-PaddingFix{
    padding-right: 1px;
}

.AboutUsPicsBlockImg {
    width: 300px;
    height: 300px
}

.AboutUsPicsBlockName {
    font-size: 18px;
    font-weight: bold;
    padding-top: 12px;
    white-space: nowrap;
}

.AboutUsPicsBlockName p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.AboutUsPicsBlockText {
    font-size: 12px;
    padding-top: 8px;
    line-height: 21px;
    text-align: justify;
}

.AboutUsPicsBlockSocial {
    display: flex;
}

.AboutUsPicsBlockSocialPic {
}

.AboutUsPicsBlockSocialPic:hover {
    opacity: 50%;
}